
@{
    Layout = "_AdminLayout";
}

<div style="padding-top: 20px; margin-right: 20px;">
    <div class="layui-form" lay-filter="Details" id="Details" style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" placeholder="请输入手机号" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓氏：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <input type="text" name="lastName" placeholder="姓氏" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">名称：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <input type="text" name="firstName" placeholder="名称" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-inline">
                <input type="text" name="nickname" placeholder="请输入昵称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">初始密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="required" placeholder="请输入初始密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="selectParent">
            <label class="layui-form-label">所属组织：</label>
            <div class="layui-input-inline" id="orgIds">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工号：</label>
            <div class="layui-input-inline">
                <input name="jobNo" placeholder="请输入工号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号：</label>
            <div class="layui-input-inline">
                <input type="text" name="idCard" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职务：</label>
            <div class="layui-input-inline">
                <input type="text" name="position" placeholder="请输入职务" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家庭住址：</label>
            <div class="layui-input-inline">
                <input type="text" name="homeAddress" placeholder="请输入家庭住址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否激活</label>
            <div class="layui-input-inline">
                <input name="isActive" lay-skin="switch" lay-text="是|否" type="checkbox" value="true">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="btn_submit" id="btn_submit" value="确认">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        layui.config({
            base: '/lib/layui-v2.5.7/extends/'
        }).extend({
            xmSelect: 'xm-select'
        }).use(['form', 'xmSelect'], function () {
            var form = layui.form,
                xmSelect = layui.xmSelect;

            function renderTreeToSelect(data) {
                var arr = data.map(function (itm) {
                    var children;
                    if (itm.children) {
                        children = renderTreeToSelect(itm.children);
                    }
                    return { "name": itm.name, "value": itm.id, "selected": "", "disabled": "", children: children };
                });

                return arr;
            }

            $.ajax({
                url: "../admin/api/organizations?treeView=true",
                type: "GET",
                contentType: "application/json"
            }).done(function (data) {
                var arr = renderTreeToSelect(data);
                xmSelect.render({
                    el: "#orgIds",
                    filterable: true,
                    name: 'orgIds',
                    layVerify: 'required',
                    toolbar: { show: true },
                    data: arr
                });
            }).fail(function (jqXHR, error) {
                layer.msg('读取组织机构数据失败！ ' + jqXHR.responseText);
            });

            form.render();
            form.on('submit(btn_submit)', function (data) {
                var field = data.field;
                field.isActive = field.isActive == "true";

                $.ajax({
                    url: "../admin/api/users/",
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(field)
                }).done(function () {
                    $.modalClose();
                    window.parent.$.reload('LAY-user-manage');//表格刷新
                }).fail(function (jqXHR, error) {
                    if (jqXHR.responseJSON) {
                        layer.msg('添加失败！ ' + jqXHR.responseJSON.detail);
                    }
                    else {
                        layer.msg('添加失败！ ' + jqXHR.responseText);
                    }
                });
            })
        })

        function submitForm() {
            $("#btn_submit").trigger('click');//模擬表單提交
        }
    </script>
}