
@{
    Layout = "_AdminLayout";
}

<div style="padding-top: 20px; margin-right: 20px;">
    <div class="layui-form" lay-filter="Details" id="Details" style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="required" readonly placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" placeholder="请输入手机号" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓氏：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <input type="text" name="lastName" placeholder="姓氏" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label second">名称：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <input type="text" name="firstName" placeholder="名称" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">座右铭：</label>
            <div class="layui-input-inline">
                <input type="text" name="motto" placeholder="请输入座右铭" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像：</label>
            <div class="layui-input-inline">
                <input type="text" name="avatar" placeholder="请输入头像地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">个人封面：</label>
            <div class="layui-input-inline">
                <input type="text" name="cover" placeholder="请输入个人封面地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="selectParent">
            <label class="layui-form-label">所属组织：</label>
            <div class="layui-input-inline" id="orgIds">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工号：</label>
            <div class="layui-input-inline">
                <input name="jobNo" placeholder="请输入工号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号：</label>
            <div class="layui-input-inline">
                <input type="text" name="idCard" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职务：</label>
            <div class="layui-input-inline">
                <input type="text" name="position" placeholder="请输入职务" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家庭住址：</label>
            <div class="layui-input-inline">
                <input type="text" name="homeAddress" placeholder="请输入家庭住址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Github 主页：</label>
            <div class="layui-input-inline">
                <input type="text" name="github" placeholder="请输入Github地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Twitter 主页：</label>
            <div class="layui-input-inline">
                <input type="text" name="twitter" placeholder="请输入 Twitter 住址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微博 主页：</label>
            <div class="layui-input-inline">
                <input type="text" name="sinaWeibo" placeholder="请输入新浪微博地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">其他：</label>
            <div class="layui-input-inline">
                <textarea name="note" placeholder="请输入个人备注" autocomplete="off" class="layui-input">
                </textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否激活</label>
            <div class="layui-input-inline">
                <input name="isActive" lay-skin="switch" lay-text="是|否" type="checkbox" value="true">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="text" name="id" lay-verify="required" readonly autocomplete="off" class="layui-input">
            <input type="button" lay-submit lay-filter="btn_submit" id="btn_submit" value="确认">
        </div>
    </div>
</div>
@section Scripts{
    <script>
        layui.config({
            base: '/lib/layui-v2.5.7/extends/'
        }).extend({
            xmSelect: 'xm-select'
        }).use(['form', 'xmSelect'], function () {
            var form = layui.form,
                xmSelect = layui.xmSelect;

            var orgIds = [];
            var id = $.request("id");
            if (id != "" && id != null) {
                $.ajax({
                    type: 'get',
                    url: '../admin/api/users/' + id,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        form.val("Details", data);
                        orgIds = data.organizations.map(function (org) {
                            return org.id;
                        });
                    }
                })
            };

            function renderTreeToSelect(data) {
                var arr = data.map(function (itm) {
                    var children;
                    if (itm.children) {
                        children = renderTreeToSelect(itm.children);
                    }
                    return { "name": itm.name, "value": itm.id, "selected": "", "disabled": "", children: children };
                });

                return arr;
            }

            $.ajax({
                url: "../admin/api/organizations?treeView=true",
                type: "GET",
                contentType: "application/json"
            }).done(function (data) {
                var arr = renderTreeToSelect(data);
                var orgIdsElm = xmSelect.render({
                    el: "#orgIds",
                    filterable: true,
                    name: 'orgIds',
                    layVerify: 'required',
                    toolbar: { show: true },
                    data: arr
                });

                if (orgIds.length > 0) {
                    orgIdsElm.setValue(orgIds);
                }
            }).fail(function (jqXHR, error) {
                if (jqXHR.responseJSON) {
                    layer.msg('读取组织机构数据失败！ ' + jqXHR.responseJSON.detail);
                }
                else {
                    layer.msg('读取组织机构数据失败！ ' + jqXHR.responseText);
                }
            });

            form.render();
            form.on('submit(btn_submit)', function (data) {
                var field = data.field;
                field.isActive = field.isActive == "true";

                $.ajax({
                    url: "../admin/api/users/" + id,
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(field)
                }).done(function () {
                    $.modalClose();
                    window.parent.$.reload('LAY-user-manage');//表格刷新
                }).fail(function (jqXHR, error) {
                    if (jqXHR.responseJSON) {
                        layer.msg('更新失败！ ' + jqXHR.responseJSON.detail);
                    }
                    else {
                        layer.msg('更新失败！ ' + jqXHR.responseText);
                    }
                });
            })
        })

        function submitForm() {
            $("#btn_submit").trigger('click');//模擬表單提交
        }
    </script>
}