
@{
    Layout = "_AdminLayout";
}

<div class="layui-card-body">
    <div class="layui-form page-bar">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" placeholder="请输入 名称" autocomplete="off" class="layui-input search-input">
            </div>
            <div class="layui-input-inline">
                <input type="text" name="clientId" id="clientId" placeholder="请输入 Client Id" autocomplete="off" class="layui-input search-input">
            </div>

            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="btn_Search" id="btn_Search">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn" title="点击查询"></i>
            </button>
        </div>
    </div>

    <table id="LAY-role-manage" lay-filter="LAY-role-manage"></table>
</div>
@section Scripts{

    <script type="text/html" id="toolbar-div">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="batchdel">删除</button>
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        </div>
    </script>

    <script>
        layui.use(['form', 'element', 'table'], function () {
            var form = layui.form,
                table = layui.table;

            form.render();

            table.render({
                elem: '#LAY-role-manage'
                , url: "../admin/api/roles"
                , toolbar: '#toolbar-div'
                , defaultToolbar: ['filter']
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'Id', width: 100, sort: true, hide: true }
                    , { field: 'clientId', title: 'Client Id', width: 120, sort: true }
                    , { field: 'name', title: '名称', width: 120, sort: true }
                    , { field: 'desc', title: '描述', sort: false }
                    , { field: 'isSuperAdmin', title: '是否是超级管理员', width: 160, sort: false }
                    , { field: 'isAdmin', title: '是否是管理员', width: 160, sort: false }
                    , {
                        title: '权限', width: 88, align: 'center', templet: function (item) {
                            return "<a class='layui-btn layui-btn-xs' title='权限' lay-event='edit' onclick='assignPermissions(\"" + item.id + "\")'><i class='layui-icon layui-icon-unlink'></i></a>"
                        }
                    }
                    , { field: 'createdAt', title: '创建时间', width: 200, sort: true }

                ]]
                , page: true
                , loading: true
                , height: 'full-78'
                , text: {
                    none: ' 暂无相关数据!'
                }
                , request: {
                    pageName: 'pageindex' //页码的参数名称，默认：page
                    , limitName: 'pagesize' //每页数据量的参数名，默认：limit
                }
                , parseData: function (res) {
                    return {
                        "code": 0,
                        "message": "",
                        "data": res.data,
                        "count": res.total
                    };
                }
                , done: function (res, curr, count) { // 隐藏列
                }
            });

            //监听搜索
            form.on('submit(btn_Search)', function (data) {
                var field = data.field;
                //去除前后的空格
                $.each(field, function (i) {
                    field[i] = $.trim(field[i]);
                });
                //执行重载
                table.reload('LAY-role-manage', {
                    where: field
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , url: "../admin/api/roles"
                });
                return false;
            });

            //监听行单击事件（单击事件为：rowDouble,单击row）
            table.on('rowDouble(LAY-role-manage)', function (obj) {
                var data = obj.data;
                //标注选中样式
                $.modalOpen({
                    id: "Details",
                    type: 2,
                    title: "编辑角色",
                    url: "../role/details?id=" + data.id,
                    width: "560px",
                    height: "480px",
                    btn: ['确定', '取消'],
                    callBack: function (index, layero, iframeId) {
                        window['layui-layer-iframe' + index].submitForm();
                    }
                });
            });

            //头工具栏事件
            table.on('toolbar(LAY-role-manage)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'batchdel':
                        var checkStatus = table.checkStatus('LAY-role-manage')
                            , checkData = checkStatus.data; //得到选中的数据

                        if (checkData.length === 0) {
                            return layer.msg('请选择数据');
                        }

                        layer.confirm('确定删除吗？', function (index) {
                            var ids = checkData.map(function (idx, item) {
                                return idx.id
                            });

                            $.ajax({
                                url: "/admin/api/roles/",
                                type: "DELETE",
                                contentType: "application/json",
                                data: JSON.stringify({ "ids": ids })
                            }).done(function (response) {
                                table.reload('LAY-role-manage');
                                layer.msg('删除成功！' + response);
                            }).fail(function (jqXHR, error) {
                                if (jqXHR.responseJSON) {
                                    layer.msg('删除失败！ ' + jqXHR.responseJSON.detail);
                                }
                                else {
                                    layer.msg('删除失败！ ' + jqXHR.responseText);
                                }
                            });
                        });
                        break;
                    case 'add':
                        $.modalOpen({
                            id: "Create",
                            type: 2,
                            title: "新增角色",
                            url: "../role/create",
                            width: "560px",
                            height: "480px",
                            btn: ['确定', '取消'],
                            callBack: function (index, layero, iframeId) {
                                window['layui-layer-iframe' + index].submitForm();
                            }
                        });
                        break;
                };
            });
        });

        function assignPermissions(id) {
            $.modalOpen({
                id: "Permission",
                type: 2,
                title: "关联的权限",
                url: "../role/permissions?roleId=" + id,
                width: "400px",
                height: "460px",
                btn: ['确定', '取消'],
                callBack: function (index, layero, iframeId) {
                    window['layui-layer-iframe' + index].submitForm();
                }
            });
        }
    </script>
}