.impowerBox .qrcode {
    width: 200px;
}

.impowerBox .title {
    display: none;
}

.impowerBox .info {
    width: 200px;
}

.impowerBox .card {
    margin-top: -20px;
}

.status_icon {
    display: none !important
}

.impowerBox .status {
    text-align: center;
}
