@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>

